<main>
  <small>Dashboard / Orders</small>
  <h2>Orders</h2>

  <section class="main-page">
    <header>
      <div class="search">
        <i class="fi fi-rr-search"></i>
        <input type="text" placeholder="Search in Order" class="text-sm" />
      </div>
      <a class="btn-primary" routerLink="/order/add-order">
        <i class="fi fi-rr-plus"></i> Add Order
      </a>
    </header>
    <table [cellSpacing]="0" [cellPadding]="10">
      <thead>
        <th>Order Detail ID</th>
        <th>Order ID</th>
        <th>Product Id</th>
        <th>Quantity</th>
        <th>Price</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        @for(order of Orders; track order) {
        <tr>
          <td>
            {{ order.orderDetailId }}
          </td>
          <td>
            {{ order.orderId }}
          </td>
          <td>
            {{ order.productId }}
          </td>
          <td>
            {{ order.quantity }}
          </td>
          <td>
            {{ order.price }}
          </td>
          <td>
            <i
              class="fi fi-rr-pencil"
              (click)="updateOrder(order.orderDetailId || -1)"
            ></i>
          </td>
          <td>
            <i
              class="fi fi-rr-trash"
              (click)="removeOrder(order.orderId || -1)"
            ></i>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </section>
</main>
