main {
  padding: 2em;
}

input,
textarea {
  display: block;
  width: 100%;
  margin-top: 5px;
  border: 1px solid #ddd;
  padding: 12px;
  outline: 0;
}

form > div {
  margin: 10px 0;
}

form button[type="submit"] {
  font-size: 14px;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 15px;
}

i {
  cursor: pointer;
}
